{% extends 'common.html' %} <!--USED TO EXTEND THE CONTENT IN ANOTHER HTML FILE-->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {% block title %}{% endblock %}
    <style>
        .container
        {
            height: 100vh;
            width: 100vw;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
        }
        label
        {
            margin:5px;
        }
        button
        {
            margin-left: 10px;
        }
    </style>
</head>
<body>  
    {% block content %}
    <form action="execute/" method="POST">
        {% csrf_token %}
        <label for="num1">Num1 :</label>
        <input type="number" name="num1" id="num1"><br>
        <label for="num2">Num1 :</label>
        <input type="number" name="num2" id="num2"><br>
        <select name="operation" id="operation" style="width:100px; padding:5px; margin:5px 10px;">
            <option value="add">add</option>
            <option value="sub">sub</option>
            <option value="mul">mul</option>
        </select><br><br>
        <button type="submit"> Add </button>
    </form>
    <br><br><br>
    <div class="container">
        <div style="border:2px solid crimson; width: 300px;  text-align: center;">
            <h2>Random Names!!</h2><br>
            <h3 style="color: crimson;">Hello {{names}}</h3>
            <h3>{{date}}<h3>
        </div>
    </div>
    {% endblock %}
</body>
</html>

