<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <style>
        .container
        {
            height: 100vh;
            width: 100vw;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
        }
    </style>
</head>
<body>
    <div class="container">
        <div style="border:2px solid crimson; width: 300px;  text-align: center;">
            <h2>Random Names!!</h2><br>
            <h3 style="color: crimson;">Hello {{names}}</h3>
        </div>
    </div>
</body>
</html>